* {
	box-sizing: border-box;
}

html,
body {
	background-color: #191919;
	color: #D4D4D4;
	margin: 2em auto;
	max-width: 900px;
	line-height: 1.4;
}

a,
a.visited {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: #646464;
}

p#motivation{
	font-size: 1.5em;
}

h1, h3 {
	letter-spacing: -0.01em;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 0;
}

.page-title {
	font-size: 2.5rem;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0.75em;
}

h1 {
	font-size: 1.875rem;
	margin-top: 1.875rem;
}

h3 {
	font-size: 1.5rem;
	margin-top: 1.25rem;
	margin-bottom: 0.5em;
	background-color: #4A3228;
	height :2em;
	display: flex;
    align-items: center;
    justify-content: center; 

}


figure {
	margin: 1.25em 0;
}

figcaption {
	opacity: 0.5;
	font-size: 85%;
	margin-top: 0.5em;
}

img {
	max-width: 100%;
}

.column-list {
	display: flex;
	justify-content: space-between;
}

.column {
	padding: 0 1em;
	width:50%;
}

.page-cover-image {
	object-fit: cover;
	width: 100%;
	max-height: 30vh;
	overflow: hidden;
	object-position: 0% 10%;
}

.page-header-icon {
	font-size: 3rem;
	margin-bottom: 1rem;
	margin-top: -0.72em;
	margin-left: 0.07em;
}


.link-to-page {
	margin: 1em 0;
	padding: 0;
	border: none;
	font-weight: 500;
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: justify;
	margin: 0 auto;
	max-width: 100%;
}

.icon {
	display: inline-block;
	max-width: 1.2em;
	max-height: 1.2em;
	text-decoration: none;
	vertical-align: text-bottom;
}

.bookmark {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 1.5em;
	word-break: break-all;
	text-decoration: none;
	max-height: 8em;
	padding: 0;
	display: flex;
	width: 100%;
	align-items: stretch;
}

.bookmark-title {
	font-size: 0.85em;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 1.75em;
	white-space: nowrap;
}

.bookmark-text {
	display: flex;
	flex-direction: column;
}

.bookmark-info {
	flex: 4 1 180px;
	padding: 12px 14px 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bookmark-image {
	width: 33%;
	flex: 1 1 180px;
	display: block;
	position: relative;
	object-fit: cover;
	border-radius: 1px;
}

.bookmark-description {
	color: rgba(137, 137, 137, 0.6);
	font-size: 0.75em;
	overflow: hidden;
	max-height: 4.5em;
	word-break: break-word;
}

.bookmark-href {
	font-size: 0.75em;
	margin-top: 0.25em;
}

.sans {
    font-family: ui-sans-serif, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}



@media (max-width: 1000px) {
	/* Styles communs pour les écrans de 1000px ou moins */
	div, .page-title, .column-list {
		text-align: center;
	}
	.column {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
	
	.column-list {
		display: block;
		justify-content: space-between;
	}
}

@media (min-width: 800px) and (max-width: 1000px) {
	/* Styles spécifiques pour les écrans entre 800px et 1000px */
	.column {
		font-size: 1.75em;
	}
	.icon {
		max-width: 1.5em;
		max-height: 1.5em;
	}
}

@media (max-width: 800px) {
	/* Styles spécifiques pour les écrans de 800px ou moins */
	p {
		max-width: 80%;
	}
}
