html {
    -webkit-print-color-adjust: exact;
}

* {
    box-sizing: border-box;
    -webkit-print-color-adjust: exact;
}

html,
body {
    background-color: #191919;
    color: #D4D4D4;
    margin: 2em auto;
    max-width: 900px;
    line-height: 1.4;
}

a,
a.visited {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: #646464;
}


h1,
h2,
h3 {
    letter-spacing: -0.01em;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
}

.page-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75em;
}


.page-cover-image {
    object-fit: cover;
    width: 100%;
    max-height: 30vh;
    overflow: hidden;
    object-position: 10% 26%;
}

.page-header-icon {
	font-size: 6rem;
	margin-bottom: 1rem;
    margin-top: -0.72em;
	margin-left: 0.07em;
}


.icon {
	display: inline-block;
	max-width: 1.2em;
	max-height: 1.2em;
	text-decoration: none;
	vertical-align: text-bottom;
}


.card {
    background-color: #2a2a2a;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    display: flex;
    align-items: center;
}

.card img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

.card .content {
    display: flex;
    flex-direction: column;
}

.card .title {
    font-size: 18px;
    font-weight: bold;
}

.card .subtitle {
    font-size: 14px;
    color: #aaa;
}

.card .github-link {
    margin-top: 8px;
    color: #ccc;
    text-decoration: none;
}


h1 {
    font-size: 1.875rem;
    margin-top: 1.875rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

h3 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
}



.callout {
    border-radius: 3px;
    padding: 1rem;
}

figure {
    margin: 1.25em 0;
    page-break-inside: avoid;
}

figcaption {
    opacity: 0.5;
    font-size: 1.5em;
    margin-top: 0.5em;
}

hr {
    border: none;
    border-top: 1px solid #373737;
    width: 100%;
}

img {
    max-width: 100%;
}

@page {
    margin: 1in;
}


.column-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    padding: 0 1em;
}

.column:first-child {
    padding-left: 0;
}

.column:last-child {
    padding-right: 0;
}



th {
    color: rgba(55, 53, 47, 0.6);
}

ul {
    padding-inline-start: 1.7em;
}

ul>li {
    padding-left: 0.1em;
}


p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 16px;
}


.sans {
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}


.serif {
    font-family: Lyon-Text, Georgia, ui-serif, serif;
}


.block-color-gray_background {
    background: #252525;
    height: 1.8em;
    display: flex;
    align-items: center;
    padding: 0.2em;
}

#cat_gif {
    width: 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


@media  (max-width: 1000px) {
    body {
        margin: 1em auto;
        max-width: 500px; 

    }

    .page-header-icon{
        text-align: center;
        font-size: 6rem;
        margin-left: 0;
    }

    p{
        font-size: 16px;
    }


}

@media (min-width: 800px)  and (max-width:1000px) {

    body {
        margin: 1em auto;
        max-width: 800px; 

    }

    .page-header-icon{
        text-align: center;
        font-size: 20rem;
        margin-left: 0;
    }

    p{
        font-size: 40px;
    }


}
